body{
    background-image: url('images/sakura.gif');
    background-size: cover;
    background-color: lavender;
}

.text{
    text-align: center;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

#fpimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

li{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

h1, h2{
    font-size: 50px;
    color: #b35d86;
}

a, p{
    font-size: 25px;
}
